.tab-sheets{
	margin-top:30px;
}
.que-top{
	background-color:white;
	height: 40px;
}

.que-top-left{
	line-height:40px;
	padding-left:20px;
	font-size: 14px;
	background-color: #fff;
	border-left:5px solid #15c288;
	color:#15c288;
	width:300px;
}
.que-top-right{
	float:right;
	line-height:40px;
	color:#15c288;
}
.que-mid{
	border-bottom:1px dashed #fff;
}
.que-que{
	padding:20px 0px 20px 20px;
}
.que-cho{
	padding-left:20px;
}
.que-btm{
	height:50px;
	line-height:50px;
	padding-top:10px;
	padding-left:20px;
}
/*添加到收藏夹*/
.addtocollect{
	width:220px;
}
.annota{
	padding:10px 10px 10px 20px;
	
}
.exam-point{
	margin-top:10px;
	font-weight:700;
	line-height:25px;
	text-align:center;
	
}
.exam-ans{
	margin-top:10px;
	font-weight:700;
	line-height:25px;
	text-align:center;
}
.exam-anno{
	margin-top:10px;
	font-weight:700;
	line-height:25px;
	text-align:center;
}
.anno-body{
	padding-left:70px;
	word-break:normal;
	word-wrap:break-word;
}
/*举一反三*/
.examples-title{
	background-color: #fff;
	border-left:5px solid #15c288;
	color:#15c288;
}
.example{
	border-radius:20px;
	margin-top:10px;
}