.tab-sheets{}
.myqes-title{
	margin-top: 10px;
}

.choose-ways{
	width:240px;
	height:42px;
}
.choose-pane{
	width:240px;
}
.from-myqes>li{
	line-height:30px;
	font-size:16px;
}
.from-myqes>li>span{
	cursor:pointer;
}
.from-myqes>li>input{
	margin-right:10px;
	cursor:pointer;
}
/*范围*/
.ranges-box>.ranges{
	min-height:120px;
	max-height:240px;
	background-color:white;
	border-radius:5px;
	padding:5px;
}
#ranges>ul>li{
	line-height:30px;
	padding:0 0px 0 10px;
	border:1px solid #15c288;
	border-radius:15px;
	float:left;
	margin-right:10px;
	color:#888;
}
#ranges>ul>li>i{
	margin-left:5px;
	padding-left:5px;
	cursor:pointer;
	color:black;
}
#ranges>ul>li>i:hover{
	color:#15c288;
}
/*设考试*/
.setting-box{
	margin-top:10px;
}
.diff>label{
	margin-right:20px;
	cursor:pointer;
	line-height:42px;
}
.diff>label:hover{
	color:#15c288;
}
/*设题数*/
.q-type input[type=number]{
	width:80px;
}
.q-type>ul>li>span.right-span>label{
	margin-right:50px;
}
/*总分*/
.count-detail{
	line-height:40px;
	text-indent:2em;
}
/*预览*/
.preview-control{
	padding:30px 0 80px 0;
}
/*
.q-add{
	width:30%;
	float: right;
}
*/
