.tab-sheets{
	margin-top:10px;
}
.nav-tabs{
	margin-top: 10px;
}
.htitle{
	font-size:16px;
	color:#15c288;
	line-height:30px;
	font-weight:bolder;
}
.choose-ways{
	width:240px;
	height:42px;
}
.choose-pane{
	width:240px;
}
.from-myqes>li{
	line-height:30px;
	font-size:16px;
}
.from-myqes>li>label{
	cursor:pointer;
}
.from-myqes>li>label>input{
	margin-right:10px;
}
/*范围*/
.ranges-box>.ranges{
	height:120px;
	background-color:white;
	border-radius:5px;
}
/*设考试*/
.setting-box{
	margin-top:10px;
}
.diff>label{
	margin-right:20px;
	cursor:pointer;
	line-height:42px;
}
.diff>label:hover{
	color:#15c288;
}
/*设题数*/
.q-type input[type=number]{
	width:80px;
}
.q-type>ul>li>span.right-span>label{
	margin-right:50px;
}
/*预览*/
.preview-control{
	padding:30px 0 80px 0;
}
/*
.q-add{
	width:30%;
	float: right;
}
*/
