.main-img{
	width:100%;
	margin-top:0;
	height:600px;
	background:url(../images/bg.jpg);
}
/*登陆或注册*/
.login-reg-box{
	width: 380px;
    height: 250px;
    margin:0 auto;
    border-radius: 8px;
    padding-top:100px;
}
.login-reg-box button{
    line-height: 40px;
    width: 100px;
    background-color:  white;
    border-radius: 8px;
    font-size: 16px;
	padding: 0;
	color: rgba(29,163,98,.8);
	text-decoration: none;
	font-family: inherit;
	border: 1px solid rgba(29,163,98,.8);
	margin-right: 10px;
}
.login-reg-box button.btn-login{
	color: white;
	background-color: rgba(29,163,98,.8);
}
.login-reg-box button:hover{
    color: white;
    text-decoration: none;
    background-color: rgba(29,163,98,.9);
}
.login-reg-box button:focus{
	outline: none;
	color: rgba(29,163,98,.8);
	text-decoration: none;
	border: 1px solid rgba(29,163,98,.8);
}
.login-reg-box>div>form>ul>li{
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.login-reg-box input[type=text],.login-reg-box input[type=password]{
	width:300px;
	
}
/*选择身份*/
span.select-identity{
	display: inline-block;
	width: 420px;
	line-height: 40px;
	font-size: 16px;
}
span.select-identity span{
	cursor: pointer;
	margin-right: 10px;
}
.checkbox{
	margin-left: 100px;
}

.forget-pwd{
	padding-left:10px;
	color:rgb(63,95,191);
}
.login-reg-option{
	margin-left:100px;
	padding-right: 10px;
	width: 235px;
}
/*推荐课程*/
.recommend-lesson{
	background-color:rgb(243,245,247);
}
.recommend-lesson-t{
	padding-top:40px;
	font-size:24px;
	text-align:center;
	line-height:50px;
}
.recommend-lesson .lessons{
	width:80%;
	height:530px;
	margin:0 auto;
}
.lesson-hover-box{
	float:left;
	width:202px;
	height:210px;
	border:1px solid #eee;
	margin-top:18px;
	margin-right:12px;
	background-color:#fff;
	cursor:pointer;
}
.lesson-hover-box:hover .lesson-img img{
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.lesson-hover-box:hover .lesson-name{
	color:#15c288;
}
.lesson-hover-box .lesson-img{
	width:200px;
	height:120px;
	overflow:hidden;
}
.lesson-hover-box .lesson-img img{
	width:100%;
	height:100%;
	border:none;
	-moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.lesson-hover-box .lesson-name{
	width:200px;
	height:54px;
	font-size:16px;
	line-height:22px;
	padding:10px 10px 0px 10px;
	margin-buttom:10px;
	text-overflow:ellipsis;
	/*多行文本显示...*/
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}

.lesson-hover-box .lesson-time,.lesson-hover-box .lesson-people{
	display:inline-block;
	line-height:34px;
	color:#999;
	font-size:12px;
}
.lesson-hover-box .lesson-time{
	padding-left:10px;
}
.lesson-hover-box .lesson-people{
	padding-right:10px;
}
/*主页页尾*/
.index-footer{
	height:300px;
	background-color:rgb(71,68,67);
}