/*显示个人信息*/
.htitle{
	margin-top:10px;
}
.label{
	width:120px;
	font-size:16px;
	font-weight:normal;
	line-height:30px;
	color:#888;
	margin-bottom:10px;
	padding-left:10px;
}
table{
 	width:300px;
 	margin-top:10px;
}
.myinfo-show tr:hover{
	background-color:#eee;
}
button{
	margin-top:20px;
}
/*修改个人信息*/
input[type=text]{
	width:195px;
	display:inline-block;
}
.my-info-edit td.label{
	line-height:50px;
}
.my-info-edit tr:hover{
	background-color:none;
}
.btn-edit{
	margin-top:20px;
}