
.frame-myteacenter-nav{
    height: 40px;
    margin-bottom: 10px;
    margin-top:10px;
}
.frame-myteacenter-nav>ul>li{
    float: left;
    width: 200px;
    border-radius: 8px;
    line-height: 40px;
    margin-right: 20px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    
}
.frame-myteacenter-nav>ul>li:hover{
    color: #fff;
}

/*课程状态*/
.courase-status{
	margin:10px 0;
}
.courase-status>select{
	width:100px;
}
.courase-status>div.htitle{
	float:left;
	margin-right:10px;
	line-height:40px;
}
/*课程盒子列表*/
.box-lists .box:hover{
	border: 1px solid rgb(29,163,98);
}
.box-content{
	color:rgb(29,163,98);
}
.lesson-name{
    color:  #15c288;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
}
.lesson-name:hover{
    color: rgb(29,163,98);
}
.lesson-info i{
	width:24px;
}
.start-time,.stu-origin{
	color:#888;
}
.stu-number{
	color:rgb(185,74,72);
}
.myclass .box{
	float:left;
}