.question .option>li{
}
.question .option>li>label>input[type="radio"]{
	margin-right:10px;
	line-height:24px;
}
.question .option>li>label:hover{
	color:#15c288;
	cursor:pointer;
}
.clr-green{
	color:#15c288;
}
/*答题区域*/
.tf-option>li{
	float:left;
}
.tf-option{
	height:29px;
}
input[type=text].text-answer,.text-answer{
	width:500px;
	max-width:500px;
	background:#eee;
	line-height:30px;
	padding:0 5px;
	margin-top:5px;
	border:none;
}
input[type=text].text-answer:hover,.text-answer:hover{
	border:none;
}